<div class="ui visible message cookie">
	<div class='ui grid'>
		<span class="header">
			{{ 'ch_cookie_consent.intro'|trans({}, 'CHCookieConsentBundle') }}
		</span>
	  	<div class="actions">
	  		<div id="settingCookieConsent" href="javascript:void(0);" onclick="$('.ui.modal.ch-cookie-consent').modal('show');" class="ui button close">Settings</div>
	  	</div>
	</div>
</div>