.ui.visible.message.cookie {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 999;
    padding: 2em 2em;
    margin: 1em;
}

.ch-cookie-consent__category-toggle {
    position: relative;
    float: right;
}

.ch-cookie-consent__category-toggle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media screen and (max-width: 641px) {
    .ch-cookie-consent__category-toggle {
        margin-top: 20px;
    }
}

.ch-cookie-consent__category-toggle input {
    opacity: 0;
    position: absolute;
    left: -10000px;
}

.ch-cookie-consent__category-toggle input+label {
    background-repeat: no-repeat;
    background-position: 45px center;
    background-color: #fff;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0,0,0,.87);
    transition: all .2s;
    display: inline-block;
    margin-right: 15px;
    padding: 6px 28px 6px 10px;
    cursor: pointer;
    border-radius: 6px;
    width: 75px;
}

.ch-cookie-consent__category-toggle input+label::before,
.ch-cookie-consent__category-toggle input+label::after {
    content: '';
}

.ch-cookie-consent__category-toggle input:checked+label,
.ch-cookie-consent__category-toggle input+label:hover {
    background-color: rgba(0,0,0,.87);
    color: #fff;
    border-color: #fff;
}

.ch-cookie-consent__category-toggle input:checked+label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='#fff' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}

button.ui.positive.button.btn.ch-cookie-consent__btn {
    margin-right: 20px;
}

.ui.message .header:not(.ui) {
    max-width: 600px;
}

.ch-cookie-consent__category {
    padding: 10px 0px 10px 0px;
}